.app {
    min-height: 100vh;
    /* border: 3px solid red; */

    display: flex;
    flex-direction: row; 
    align-items: center; /*主轴居中*/
    justify-content: center; /*与主轴垂直居中*/
    /* gap: 100px; */
}

.sidebar {
    /* width: 150px; */
    flex: 1;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column; /*竖直是主轴*/
    justify-content: center; /*主轴居中*/
    align-items: flex-start;/*与主轴垂直的居中*/
    gap: 30px;
}

.main {
    display: flex;
    /* border: 3px solid green; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    flex: 2;

}
}
